@using WebApplication1.Models

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    Disbursement d = (Disbursement)ViewData["Disbursement"];
    List<DisbursementDetail> list = null;
    if (d != null)
    {
        list = d.DisbursementDetails;
    }
}

<div class="ui grid">
    <div class="sixteen wide tablet column">
        @if (d != null)
        {
            <h5 class="ui header">Department Name : @d.Department.DepartmentName</h5>
            <h5 class="ui header">Request Detail : <a href="http://localhost:50271/myrequisitions/@d.Request.RequestId">View Request Detail</a></h5>
            <h5 class="ui header">
                Department Representative :
                @if (d.Department.Representative != null)
                {
                    @d.Department.Representative.Name
                }
            </h5>
            <h5 class="ui header">
                Collection Point : 
                @if (d.Department.PickupPoint != null)
                {
                <span>@d.Department.PickupPoint.Location - @d.Department.PickupPoint.PickUpTime</span>
                } 
            </h5>
        }

        <form id="deliveries-form" onkeydown="return event.key != 'Enter';" action="http://localhost:50271/deliveries/@d.DisbursementId" method="post">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Item Description</th>
                        <th>UOM</th>
                        <th>Quantity</th>
                        <th>Actual Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (list != null)
                    {

                        for (var i = 0; i < list.Count; i++)
                        {
                            <tr>
                                <td>@list[i].Item.Description</td>
                                <td>@list[i].Item.UnitOfMeasure</td>
                                <td>@list[i].Quantity</td>
                                <td>
                                    <input type="hidden" name="[@i].DisbursementDetailId" value="@list[i].DisbursementDetailId" />
                                    <input type="hidden" name="[@i].Item.ItemId" value="@list[i].Item.ItemId" />
                                    <div class="ui input" style="width : 100%">
                                        <input value="@list[i].Quantity" id="@list[i].Item.ItemId" type="number" max="@list[i].Quantity" min="0" name="[@i].Quantity" />
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (list != null)
            {
                <button class="ui primary button" type="button" onclick="formSubmitting()">Deliver</button>

            }
        </form>

    </div>
</div>

<div class="ui modal">
    <div class="header" style="color : orange !important;">
        Warning
    </div>
    <div class="content">
        <p>
            Since, requested quantities and collected quantities are mismatched, submitting this form will automatically generate adjustments for mismatched items.
            Are your sure to continue?
        </p>
    </div>
    <div class="actions">
        <div class="ui red deny button">
            No
        </div>
        <div class="ui positive button">
            Yes
        </div>
    </div>

</div>

<script>
    var itemInfo = {};
    @foreach(var i in list)
    {
        @:itemInfo["@i.Item.ItemId"] = @i.Quantity;
    }

    function formSubmitting() {
        var keys = Object.keys(itemInfo);
        var mismatch = false;
        var overInput = false;
        for (var i = 0; i < keys.length; i++) {
            var actualInputAmount = Math.round(Number($(`#${keys[i]}`).val()));
            var allocatedAmount = Math.round(Number(itemInfo[keys[i]]));
            if (actualInputAmount < allocatedAmount) {
                mismatch = true;
                break;
            } else if (actualInputAmount > allocatedAmount) {
                overInput = true;
                break;
            }
        }

        if (mismatch) {
            $('.ui.modal').modal({
                onApprove: function () {
                    document.getElementById("deliveries-form").submit();
                }
            }).modal('show');
        } else if (overInput) {

        } else {
            document.getElementById("deliveries-form").submit();
        }
    }

</script>