
@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var pgName = ViewContext.RouteData.Values["Action"].ToString();
    }

<div class="ui grid">
    <div class="four wide computer column" id="sidebar">
        <div class="ui secondary vertical pointing fluid menu">
            <a class="item @(pgName == "Index" ? "activeLink" : "")" href="@Url.Action("Index", "Requisition")">
                <span>Item Requisition</span>
                <i class="file alternate icon"></i>
            </a>

            <a class="item @(pgName == "PendingRequisitions" ? "activeLink" : "")" href="@Url.Action("PendingRequisitions", "Requisition")">
                <span>Pending Requisitions</span>
                <i class="icon clone"></i>
            </a>

            <a class="item @(pgName == "MyRequisitions" ? "activeLink" : "")" href="@Url.RouteUrl("myrequisitions")">
                <span>My Requisitions</span>
                <i class="file icon"></i>
            </a>

            <a class="item" href="@Url.Action("PickUpForm", "Department")">
                <span>Items Pick-up </span>
                <i class="briefcase icon"></i>
            </a>

            <a class="item @(pgName == "Delegate" ? "activeLink" : "")" href="@Url.RouteUrl("Delegate")">
                <span>Delegate Functions</span>
                <i class="street view icon"></i>
            </a>


            <a class="item  @(pgName == "GetAllDisbursementByDepartment" ? "activeLink" : "")" href="@Url.RouteUrl("departmentdisbursements")">
                <span>Disbursements</span>
                <i class="street view icon"></i>
            </a>

            <a class="item @(pgName == "GetDeliveredDisbursements" ? "activeLink" : "")" href="@Url.RouteUrl("delivereddisbursements")">
                <span>Delivered Disbursements</span>
                <i class="file alternate icon"></i>
            </a>
            <a class="item" href="@Url.Action("History", "Department")">
                <span>History</span>
                <i class="file alternate icon"></i>
            </a>
        </div>
    </div>
    <div class="sixteen wide tablet twelve wide computer column">
        @RenderBody()
    </div>
</div>

<div class="ui sidebar vertical menu" id="mobile-sidebar">
    <div class="item" style="text-align: center;">
        <h4 class="ui header">
            <i class="user icon"></i>
        </h4>
        <br />
        <p>
            Kyaw Soe han
        </p>
    </div>
    <div class="item" style="text-align: center">
        <a class="item">
            <i class="icon plus square"></i>
            Item Requisition
        </a>
        <a class="item">
            <i class="icon clone"></i>
            Order Requests
        </a>
    </div>
    <div class="item" style="text-align: center">
        <a class="tiny ui inverted secondary button">
            <i class="icon sign-out"></i>
            Logout
        </a>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var mobileSidebar = $('#mobile-sidebar');
        var sidebarActivator = $('#sidebar-activator');
        var sideBar = $('#sidebar');
        var computerLogout = $('#computer-logout');
        var tbody = $("#order-table-body");

        $('#item-accordion').accordion();

        sidebarActivator.bind('click', function () {
            mobileSidebar.sidebar('toggle');
        })
        var resizeScreen = function () {
            if ($(window).width() < 992) {
                sideBar.hide();
                computerLogout.hide();
                sidebarActivator.show();
            } else {
                sidebarActivator.hide();
                computerLogout.show();
                sideBar.show();
            }

        }

        resizeScreen();

        $(window).resize(resizeScreen);
    });
</script>
