
@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var pgName = ViewContext.RouteData.Values["Action"].ToString();
    }
<div class="ui grid">
    <div class="four wide computer column" id="sidebar">
        <div class="ui secondary vertical pointing fluid menu">

            <a class="item @(pgName == "Dashboard" ? "activeLink" : "")" href="@Url.Action("Dashboard", "Store")"> <span>Dashboard</span>
            <i class="icon dashcube"></i>
            </a>

            <a class="item" href="@Url.Action("OrderItem", "Store")"> <span>Requests</span>
            <i class="icon clone"></i>
            </a>

            <a class="item" href="@Url.Action("OrderItem", "Store")"> <span>Request Details</span>
            <i class="briefcase icon"></i>
            </a>

            <a class="item" href="@Url.Action("OrderItem", "Store")"> <span>Inventory</span>
            <i class="file alternate icon"></i>
            </a>

            <a class="item" href="@Url.Action("OrderItem", "Store")"> <span>Receive Stocks</span>
            <i class="icon plus square"></i>
            </a>

            <a class="item  @(pgName == "Index" ? "activeLink" : "")" href="@Url.Action("Index", "Orders")" ><span>Order Items</span>
                        <i class="icon clone"></i>
            </a>

            <a class="item" href="@Url.Action("Adjustment", "Store")"> <span>Adjustments</span>
                        <i class="briefcase icon"></i>
            </a>
            <a class="item @(pgName == "Retrieval" ? "activeLink" : "")" href="@Url.Action("Retrieval", "Stationery")"> <span> Stationary Retrieval Form</span>
            <i class="file alternate icon"></i>
            </a>

            <a class="item" href="@Url.Action("OrderItem", "Store")"> <span> Invoicing</span>
            <i class="icon dollar sign"></i>
            </a>

            <a class="item  @(pgName == "PendingOrders" ? "activeLink" : "")" href="@Url.Action("PendingOrders", "Orders")"> <span>Pending Orders</span>
            <i class="icon clone"></i>
            </a>

        </div>
    </div>
    <div class="sixteen wide tablet twelve wide computer column">
        @RenderBody()
    </div>
</div>

<div class="ui sidebar vertical menu" id="mobile-sidebar">
    <div class="item" style="text-align: center;">
        <h4 class="ui header">
            <i class="user icon"></i>
        </h4>
        <br />
        <p>
            Kyaw Soe han
        </p>
    </div>
    <div class="item" style="text-align: center">
        <a class="item">
            <i class="icon plus square"></i>
            Item Requisition
        </a>
        <a class="item">
            <i class="icon clone"></i>
            Order Requests
        </a>
    </div>
    <div class="item" style="text-align: center">
        <a class="tiny ui inverted secondary button">
            <i class="icon sign-out"></i>
            Logout
        </a>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var mobileSidebar = $('#mobile-sidebar');
        var sidebarActivator = $('#sidebar-activator');
        var sideBar = $('#sidebar');
        var computerLogout = $('#computer-logout');
        var tbody = $("#order-table-body");

        $('#item-accordion').accordion();

        sidebarActivator.bind('click', function () {
            mobileSidebar.sidebar('toggle');
        })
        var resizeScreen = function () {
            if ($(window).width() < 992) {
                sideBar.hide();
                computerLogout.hide();
                sidebarActivator.show();
            } else {
                sidebarActivator.hide();
                computerLogout.show();
                sideBar.show();
            }

        }

        resizeScreen();

        $(window).resize(resizeScreen);
    });
</script>
