@using WebApplication1.Models;
@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var pgName = ViewContext.RouteData.Values["Action"].ToString();
    var rank = (int)ViewData["rank"];
}
<div class="ui grid">
    <div class="four wide computer column" id="sidebar">
        <div class="ui secondary vertical pointing fluid menu">

            @*<a class="item @(pgName == "Dashboard" ? "activeLink" : "")" href="@Url.Action("Dashboard", "Auth")">
            <span>Dashboard</span>
            <i class="icon dashcube"></i>
        </a>*@

            <a class="item  @(pgName == "Index" ? "activeLink" : "")" href="@Url.RouteUrl("orderitems")">
                <span>Order Items</span>
                <i class="icon clone"></i>
            </a>
            @{
                if (rank == (int)UserRank.Manager || rank == (int)UserRank.Supervisor)
                {
                    <a class="item  @(pgName == "PendingOrders" ? "activeLink" : "")" href="@Url.RouteUrl("PendingOrders")">
                        <span>Pending Orders</span>
                        <i class="icon clone outline"></i>
                    </a>

                    <a class="item @(pgName == "GetAllAdjustments" ? "activeLink" : "")" href="@Url.RouteUrl("adjustments")">
                        <span>Adjustments</span>
                        <i class="briefcase icon"></i>
                    </a>

                    <a class="item @(pgName == "GetPendingAdjustments" ? "activeLink" : "")" href="@Url.RouteUrl("pendingadjustments")">
                        <span>Pending Adjustments</span>
                        <i class="briefcase icon"></i>
                    </a>

                }
            }


            <a class="item @(pgName == "GetAllOrders" ? "activeLink" : "")" href="@Url.Action("GetAllOrders", "Orders")">
                <span>My Orders</span>
                <i class="briefcase icon"></i>
            </a>
            @{
                if (rank == (int)UserRank.Clerk)
                {
                    <a class="item @(pgName == "Deliveries" ? "activeLink" : "")" href="@Url.RouteUrl("deliveries")">
                        <span>Deliveries</span>
                        <i class="briefcase icon"></i>
                    </a>
                }
            }


            <a class="item  @(pgName == "Inventory" ? "activeLink" : "")" href="@Url.RouteUrl("instocks")">
                <span>Inventory</span>
                <i class="file alternate icon"></i>
            </a>


            <a class="item @(pgName == "ApprovedOrders" ? "activeLink" : "")" href="@Url.RouteUrl("approvedorders")">
                <span>Receive Stocks</span>
                <i class="icon plus square"></i>
            </a>



            <a class="item @(pgName == "MakeAdjustments" ? "activeLink" : "")" href="@Url.RouteUrl("makeadjustments")">
                <span>Make Adjustments</span>
                <i class="briefcase icon"></i>
            </a>



            <a class="item @(pgName == "GetAdjustmentsByClerk" ? "activeLink" : "")" href="@Url.RouteUrl("myadjustments")">
                <span>My Adjustments</span>
                <i class="briefcase icon"></i>
            </a>

            <a class="item @(pgName == "Retrieval" ? "activeLink" : "")" href="@Url.RouteUrl("itemretrieval")">
                <span>Item Retrievals</span>
                <i class="file alternate icon"></i>
            </a>

            <a class="item @(pgName == "GenerateInvoices" ? "activeLink" : "")" href="@Url.RouteUrl("invoices")">
                <span>Generate Invoices</span>
                <i class="icon dollar sign"></i>
            </a>

            <a class="item  @(pgName == "GetOutStandingRequest" ? "activeLink" : "")" href="@Url.RouteUrl("outstandingrequests")">
                <span>Outstanding Requests</span>
                <i class="file alternate icon"></i>
            </a>

            <a class="item  @(pgName == "GetTrendPage" ? "activeLink" : "")" href="@Url.RouteUrl("TrendAnalysis")">
                <span>Trend Analysis</span>
                <i class="file alternate icon"></i>
            </a>


        </div>
    </div>
    <div class="sixteen wide tablet twelve wide computer column">
        @RenderBody()
    </div>
</div>

<div class="ui sidebar vertical menu" id="mobile-sidebar">
    <div class="item" style="text-align: center;">
        <h4 class="ui header">
            <i class="user icon"></i>
        </h4>
        <br />
        <p>
            Kyaw Soe han
        </p>
    </div>
    <div class="item" style="text-align: center">
        <a class="item">
            <i class="icon plus square"></i>
            Item Requisition
        </a>
        <a class="item">
            <i class="icon clone"></i>
            Order Requests
        </a>
    </div>
    <div class="item" style="text-align: center">
        <a class="tiny ui inverted secondary button">
            <i class="icon sign-out"></i>
            Logout
        </a>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var mobileSidebar = $('#mobile-sidebar');
        var sidebarActivator = $('#sidebar-activator');
        var sideBar = $('#sidebar');
        var computerLogout = $('#computer-logout');
        var tbody = $("#order-table-body");

        $('#item-accordion').accordion();

        sidebarActivator.bind('click', function () {
            mobileSidebar.sidebar('toggle');
        })
        var resizeScreen = function () {
            if ($(window).width() < 992) {
                sideBar.hide();
                computerLogout.hide();
                sidebarActivator.show();
            } else {
                sidebarActivator.hide();
                computerLogout.show();
                sideBar.show();
            }

        }

        resizeScreen();

        $(window).resize(resizeScreen);
    });
</script>
