@using WebApplication1.Models

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    List<RetrievalItem> retrievalItems = null;
    if (ViewData["RetrievalItems"] != null)
    {
        retrievalItems = (List<RetrievalItem>)ViewData["RetrievalItems"];
    }
}

<div class="ui grid">

    <div class=" sixteen wide tablet column" id="table">
        <form method="POST" action="http://localhost:50271/disbursement/Disbursements">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>
                            Item Description
                        </th>
                        <th>
                            In Stock Quantity
                        </th>
                        <th>
                            Requested Quantity
                        </th>
                        <th>
                            Collected Quantity
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @if (retrievalItems != null)
                    {
                        for (var i = 0; i < retrievalItems.Count; i++)
                        {
                            <tr>
                                <td>
                                    @retrievalItems[i].Description
                                </td>
                                <td>
                                    @retrievalItems[i].StockQuantity
                                </td>
                                <td>
                                    @retrievalItems[i].AllocatedQuantity
                                </td>
                                <td>
                                    <input type="hidden" value="@retrievalItems[i].ItemId" name="[@i].ItemId" />
                                    <input type="hidden" value="@retrievalItems[i].StockQuantity" name="[@i].StockQuantity" />
                                    <input type="hidden" value="@retrievalItems[i].AllocatedQuantity" name="[@i].AllocatedQuantity" />
                                    <div class="ui input" style="width : 100%">
                                        <input type="number" min="0" max="@retrievalItems[i].AllocatedQuantity" name="[@i].ActualQuantity" />
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="submit" class="ui primary button">PREPARED</button>
        </form>

    </div>
    
</div>

<script>
    //$(document).ready(function () {
    //    //$('.ui.dropdown').dropdown();
    //    var select = null;
    //    var table = $('#table');
    //    $('#select-box').change(function () {
    //        select = $(this).children('option:selected').val();
    //        $.ajax('http://localhost:50271/stationery/requestdetails?sortBy=' + select, {
    //            dataType: 'json',
    //            xhrFields: { withCredentials: true },
    //            success: function (data, status, xhr) {
    //                table.empty();
    //                generateTable(data);
    //            }
    //        });
    //    });

    //    function generateTable(data) {

    //        if (select == 0) {
    //            var tableText = '<table class="ui celled table"><thead><tr><th>Item Description</th><th>Quantity</th></tr></thead><tbody>';
    //            var rows = "";
    //            data.forEach(x => {
    //                rows += `<tr><td>${x.Description}</td><td>${x.Quantity}</td><tr/>`
    //            });
    //            tableText += rows;
    //            tableText += "</tbody></table>"
    //            table.html(tableText);
    //        } else if (select == 1) {
    //            var htmlText = "";
    //            data.forEach(x => {
    //                htmlText += `<div class="sixteen wide tablet column">${x.departmentname}</div>`
    //                htmlText += `<table class="ui celled table"><thead><tr><th>Item Description</th><th>Quantity</th></tr></thead><tbody>`;
    //                x.items.forEach(y => {
    //                    htmlText += `<tr><td>${y.name}</td><td>${y.count}</td></tr>`
    //                });

    //                htmlText += '</tbody></table>';
    //            });

    //            table.html(htmlText);
                
    //        } 
    //    }
        

        
    //});
</script>